.header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;

    background-color: #000000AA;
    background-image: linear-gradient(var(--surface-2) 1px, transparent 1px), linear-gradient(to right, var(--surface-2) 1px, transparent 1px);
    background-size: 25px 25px;

    backdrop-filter: brightness(100%) blur(3px);
    -webkit-backdrop-filter: brightness(100%) blur(3px);

    & .header--container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: var(--max-width);
        padding: 0 var(--space-h);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: var(--space-h);
            right: var(--space-h);
            bottom: 0;
            /* border-bottom: 1px solid var(--surface-4); */
            height: 1px;
            background-image: linear-gradient(to right, var(--neo-start), var(--neo-end));
        }

        .header--logo {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            > svg {
                width: 100%;
            }
        }
        .header--end {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--space-4);

            > a {
                display: block;
                width: 24px;
                height: 24px;
                --theme: var(--text-4);
                transition: all .3s ease;

                &:hover {
                    opacity: .8;
                    transform: scale(1.2);
                }

                > svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .header--button {
            width: 160px;
            height: 40px;
            background-color: var(--surface-1);
            color: var(--swatch-6);
            border: 1px solid var(--surface-2);
            border-radius: 5px;
            font-size: .9rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
                background-color: var(--surface-2);
            }
        }
    }
}

