.project {
  width: 100%;
}

.project--timeline {
  position: sticky;
  top: 72px;
  z-index: 6;
  width: 100%;
  pointer-events: none;
}
.project--timeline_bar {
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary);
}

.project h2 {
  position: sticky;
  z-index: 1;
  top: 10px;
  text-align: center;
  /* animation: 
      cyberpunk-glitch 6s step-end infinite,
      skew-glitch 6s step-end infinite; */
}
.project > p {
  color: var(--text-4);
  max-width: 600px;
  text-align: center;
  margin: -12px auto var(--space-4);
  padding: 0 var(--space-2);
}

.project--container {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-4);
}
.project--list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10vh;

  margin: 0;
  padding: 0;
  list-style: none;
}
.project--item {
  width: 100%;
  height: clamp(400px, 80vh, 700px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--surface-4);
  background-color: var(--surface-2);
  position: sticky;
  top: 10vh;
}
.project--card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: 
      "start"
      "end"
  ;
  background-color: var(--surface-2);
  background-image:  radial-gradient(var(--surface-4) 0.5px, transparent 0.5px), radial-gradient(var(--surface-4) 0.5px, var(--surface-2) 0.5px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px;
}
.project--start {
  grid-area: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-3);
  background-color: var(--surface-1);
  background-image: radial-gradient(var(--primary) 0.5px, var(--surface-1) 0.5px);
  background-size: 15px 15px;
}
.project--start img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project--start .tablet {
  width: 90%;
  height: 90%;
}
.project--display {
  width: 100%;
  height: 100%;
  position: relative;
}
.project--display .ratio {
  width: 100%;
  height: 0;
  padding-top: 68%;
}
.project--display .hanabishi {
  position: absolute;
  top: 5%; left: 5%;
  width: 90%;
  height: 90%;
}
.project--display .yomi,
.project--display .inhouse {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
.project--display img {
  display: none;
}
.project--display .show {
  display: block;
}

.project--end {
  grid-area: end;
  flex-grow: 1;
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.project--end h3 {
  margin: 0;
  padding-bottom: var(--space-3);
  font-size: clamp(1.6rem, 6vw, 2.4rem);
  font-weight: var(--weight-3);
  position: relative;
}
.project--end h3::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary);

  position: absolute;
  left: 0;
  bottom: 0;
}
.project--end p {
  margin: var(--space-4) 0 0;
  font-size: .9rem;
}
.project--item {
    transform: rotate(.3deg);
}
.project--item:nth-child(odd) {
  transform: rotate(-.3deg);
}

@media (max-width: 400px) {
  .project--container {
      padding: var(--space-2);
  }
  .project--end {
      justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .project--end p {
      font-size: 1rem;
  }
  .project--item {
      transform: rotate(.5deg);
  }
  .project--item:nth-child(odd) {
    transform: rotate(-.5deg);
  }
  .project--card {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "start end";
  }
  .project--item:nth-child(even) .project--card {
      grid-template-areas: "end start";
  }
  .project--start,
  .project--end {
      flex: 1;
      padding: var(--space-4);
  }
  /* .project--start img {
      transform: rotate(2deg);
  }
  .project--item:nth-child(odd) .project--start img {
      transform: rotate(-2deg);
  } */
}
@media (min-width: 992px) {
  .project--card {
      gap: var(--space-4);
  }
  .project--start,
  .project--end {
      padding: var(--space-4) var(--space-6);
  }
}
