@layer reset, theme, animation, util, component;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,800&display=swap');
@import url(./normalize.css) layer(reset);
@import url(./color-palette.css) layer(theme);
@import url(./colors.css) layer(theme);
@import url(./keyframes.css) layer(animation);
@import url(./util.css) layer(util);
@import url(./header.css) layer(component);
@import url(./intro.css) layer(component);
@import url(./gallery.css) layer(component);
@import url(./clients.css) layer(component);
@import url(./technical.css) layer(component);
@import url(./projects.css) layer(component);
@import url(./footer.css) layer(component);


*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

html,
body {
    inline-size: 100%;
    min-block-size: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, var(--neo-start), var(--neo-end));
}

.data-output {
    position: fixed;
    z-index: 99;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    pointer-events: none;

    color: hsl(0 0% 100% / 0);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(90deg, var(--neo-200-start), var(--neo-200-end));
}