.technical {
    width: 100%;
    min-height: 100vh;
    padding: 12vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .technical--container {
        width: 100%;
        max-width: var(--max-width);
        padding: var(--space-4);

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: var(--space-3);

        @media (max-width: 400px) {
            padding: var(--space-2);
            gap: var(--space-2);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: var(--space-4);
        }

        .technical--card {
            .technical--card-inner {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                will-change: top, left, width, height;

                .technical--card-card {
                    width: 100%;
                    height: 100%;
                    border: 1px solid var(--surface-4);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    padding: var(--space-3);
                    gap: var(--space-3);
                    cursor: pointer;
                    overflow: hidden;
                    background-color: var(--surface-2);
                    background-image: radial-gradient(var(--surface-4) 0.5px, transparent 0.5px), radial-gradient(var(--surface-4) 0.5px, var(--surface-2) 0.5px);
                    background-size: 30px 30px;
                    background-position: 0 0, 15px 15px;

                    transition: padding 500ms ease;

                    @media (min-width: 768px) {
                        max-width: 600px;
                        max-height: 700px;
                    }

                    @media (min-width: 992px) {
                        padding: var(--space-4);
                        gap: var(--space-4);
                    }

                    .technical--card_start {
                        /* flex: 1; */
                        width: 100%;
                        min-height: clamp(100px, 20vw, 180px);
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        padding: 0;

                        > svg {
                            width: 32px;
                            height: 32px;

                            @media (min-width: 768px) {
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }

                    .technical--card_end {
                        flex: 1;
                        width: 100%;
                        width: 100%;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        > h4 {
                            font-size: clamp(1.2rem, 5vw, 1.4rem);
                            font-weight: var(--weight-6);
                            margin: 0;
                            padding: 0;

                            > span {
                                color: hsl(0 0% 100% / 0.1);
                                background-clip: text;
                                -webkit-background-clip: text;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                /* background-image: linear-gradient(90deg, var(--neo-start), var(--neo-end)); */
                                background-image: linear-gradient(to right, var(--surface-1), var(--text-3));
                                -webkit-text-stroke: 1px var(--text-3);
                            }
                        }

                        .technical--info {
                            max-width: 500px;
                            font-size: .85rem;
                            color: var(--text-3);
                            display: -webkit-box;
                            max-width: 100%;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                        .technical--content {
                            width: 100%;
                            opacity: 0;
                            display: none;

                            > p {
                                display: grid;
                                grid-template-columns: 6px minmax(0, 1fr);
                                gap: var(--space-1);
                                font-size: .9rem;

                                & span {
                                    color: hsl(0 0% 100% / 0.4);
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    background-image: linear-gradient(135deg, var(--neo-start), var(--neo-end));
                                }

                                @media (min-width: 768px) {
                                    font-size: 1rem;
                                }

                                &::before {
                                    content: '';
                                    display: block;
                                    margin-top: 8px;
                                    width: 6px;
                                    height: 6px;
                                    background-color: var(--swatch-6);
                                }
                            }

                            .technical--skills {
                                width: 100%;
                                margin: 0;
                                margin-top: var(--space-3);
                                padding: var(--space-3) var(--space-4);
                                padding-right: 0;
                                list-style: none;

                                border-left: 6px solid var(--swatch-8);
                                /* border-radius: 6px; */
                                /* background-color: var(--surface-2); */
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                align-items: flex-start;
                                grid-gap: var(--space-3) var(--space-4);


                                .technical--skill {
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;

                                    > label {
                                        position: absolute;
                                        padding: var(--space-2);
                                        font-size: .75rem;
                                    }

                                    > svg {
                                        transform: rotate(-90deg);
                                    }
                                }
                            }
                        }

                        .technical--card_more {
                            width: 100%;
                            text-align: right;
                            font-size: .8rem;
                            color: var(--swatch-6);
                            /* color: var(--primary); */
                        }
                    }
                }

                &.opened {
                    position: fixed;
                    z-index: 9;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow-y: auto;

                    .technical--card-card {
                        padding: var(--space-6);

                        @media (max-width: 400px) {
                            padding: var(--space-4);
                        }

                        .technical--info {
                            -webkit-line-clamp: initial;
                            -webkit-box-orient: inherit;
                            overflow: initial;

                            > span {
                                background-size: 100%;
                            }
                        }

                        .technical--content {
                            display: block;

                            .technical--skill {
                                > svg {
                                    .offset-2 {
                                        animation: offset-2 1.2s ease .5s forwards;
                                    }

                                    .offset-6 {
                                        animation: offset-6 1.2s ease .5s forwards;
                                    }

                                    .offset-8 {
                                        animation: offset-8 1.2s ease .5s forwards;
                                    }

                                    .offset-12 {
                                        animation: offset-12 1.2s ease .5s forwards;
                                    }

                                    .offset-15 {
                                        animation: offset-15 1.2s ease .5s forwards;
                                    }

                                    .offset-25 {
                                        animation: offset-25 1.2s ease .5s forwards;
                                    }

                                    .offset-35 {
                                        animation: offset-35 1.2s ease .5s forwards;
                                    }

                                    .offset-45 {
                                        animation: offset-45 1.2s ease .5s forwards;
                                    }

                                    .offset-50 {
                                        animation: offset-50 1.2s ease .5s forwards;
                                    }

                                    .offset-60 {
                                        animation: offset-60 1.2s ease .5s forwards;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .technical--layer {
        position: fixed;
        z-index: 4;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: radial-gradient(transparent 2px, var(--surface-2) 1px);
        background-size: 4px 4px;
        backdrop-filter: brightness(100%) blur(3px);
        -webkit-backdrop-filter: brightness(100%) blur(3px);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;

        &.show {
            visibility: visible;
            opacity: 1;
            z-index: 6;
        }
    }
}
