:root {
    --space-0: 4px;
    --space-1: 8px;
    --space-2: 12px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 48px;
    --space-7: 96px;

    --weight-1: 100;
    --weight-2: 200;
    --weight-3: 300;
    --weight-4: 400;
    --weight-5: 600;
    --weight-6: 800;

    --max-width: 1200px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    > body {
        margin: 0;
        padding: 0;
        color: var(--text-1);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: var(--weight-4);

        &::after {
            content: '';
            display: block;
            position: fixed;
            z-index: -1;
            top: 0; bottom: 0;
            left: 0; right: 0;

            background-color: var(--surface-1);
            background-image:  linear-gradient(var(--surface-2) 1px, transparent 1px), linear-gradient(to right, var(--surface-2) 1px, var(--surface-1) 1px);
            background-size: 25px 25px;
        }

        > main {
            width: 100%;
            min-height: 100%;

            .spacer {
                flex: 1;
                min-height: var(--space-4);
            }

            & h2 {
                font-size: clamp(1.2rem, 7vw, 2.5rem);
                font-weight: var(--weight-3);
            }

            .scroll-reveal--title {
                position: sticky;
                z-index: 4;
                top: 8px;
                text-align: center;

                @media (min-width: 992px) {
                    z-index: 6;
                    pointer-events: none;
                }
            }

            .scroll-reveal--body {
                color: var(--text-4);
                max-width: 600px;
                text-align: center;
                margin: -12px auto var(--space-4);
                padding: 0 var(--space-2);
            }

            .css-scroll-reveal {
                > span {
                    color: hsl(0 0% 100% / 0);
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-repeat: no-repeat;
                    background-size: var(--bg-size, 0%) 100%;
                    background-image: linear-gradient(90deg, var(--neo-start), var(--neo-end));
                }
                &[data-description="p-body"],
                &[data-description="intro"],
                &[data-description="desc"],
                &[data-description="p-tech"] {
                    > span {
                        background-image: linear-gradient(90deg, var(--neo-200-start), var(--neo-200-end));
                    }
                }
            }
        }
    }
}

